@using Microsoft.AspNet.Identity

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - DSO CPV</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link href="https://fonts.cdnfonts.com/css/inter" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
        @@import url('https://fonts.googleapis.com/css2?family=Jaldi&display=swap');
        @@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

        :root {
            --main-color: linear-gradient(to bottom, #aee1c9, #345a48);
            --main-color3: linear-gradient(to bottom,#97dbfc, #012336);
            --main-color2: linear-gradient(to bottom,#25947a, #236a8b 50%);
        }

        body {
            background-color: #DDDDDD;
        }

        .nav-bar {
            /*background: linear-gradient(to bottom, #aee1c9, #345a48);*/
            background: var(--main-color2);
            /* background-color: #648073;*/
            width: 225px;
            height: 100vh;
            display: flex;
            flex-direction: column; /* Set the direction to column */
            align-items: center; /* Optional: Center the items horizontally */
            overflow:auto;
        }

        /* Hide the scrollbar track when not actively scrolling */
            .nav-bar::-webkit-scrollbar {
                width: 0em; /* Adjust the width as needed */
            }

            .nav-bar::-webkit-scrollbar-track {
                background-color: transparent; /* Hide the scrollbar track */
            }

        /* Define scrollbar thumb styles */
            .nav-bar::-webkit-scrollbar-thumb {
                background-color: #888; /* Adjust the color as needed */
            }

        body {
            padding: 0;
        }

        h1 {
            margin: 0px;
        }

        .logo {
            margin-top: 40px;
            width: 165px;
            height: 85px;
            filter: drop-shadow(0px 3px 2px rgba(0.5, 0.40, 0.40, 0.45));
            transform: matrix(1, 0, 0, 1, 0, 0);
        }

        .nav-icons {
            width: 18px;
            height: 18px;
        }

        .nav-cont {
            display: flex;
            flex-direction: row;
            font-family: 'Inter', sans-serif;
            font-weight: 100;
            font-size: 15px;
            border-radius: 10px; /* Adjust the value to control the degree of curvature */
            padding: 10px 10px;
            width: 12vw;
            /* box-shadow: rgba(0, 0, 0, 0.25) 1.95px 1.95px 2.6px;*/
            font-weight: 200;
        }

        .nav-contents {
        }




        .normal-text-link:focus {
            color: inherit;
            text-decoration: none;
            cursor: pointer;
        }


        .normal-text-link:hover {
            color: inherit;
            text-decoration: none;
            cursor: pointer;
        }

        li {
            list-style-type: none;
            margin-bottom: 20px;
            color: white;
            cursor: pointer;
        }

        ul {
            padding: 0px;
        }

        .nav-contents ul li .nav-cont {
            background-color: rgba(0, 0, 0, 0.2); /* Adjust the alpha value (0.5) for the desired transparency */
        }

        .nav-contents ul li:hover .nav-cont {
            color: #A6AA46;
            transition-duration: 0.20s;
        }

        .sub ul li:hover {
            color: #A6AA46;
            font-weight: 200;
        }

        .nav-contents ul li:hover .nav-cont .image {
            visibility: visible;
        }

        .nav-contents ul li:hover .nav-cont .image1 {
            visibility: hidden;
        }

        .image {
            visibility: visible;
            position: relative;
        }

        .image1 {
            visibility: visible;
            position: relative;
        }

        .body-cont {
            display: flex;
            flex-direction: row;
        }

        .body-conts {
            width: 100%;
            /*background-color: #648073;*/
            background: var(--main-color2);
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .logout-div {
            background-color: rgba(0, 0, 0, 0.2);
            display: flex;
            flex-direction: row;
            font-family: 'Inter', sans-serif;
            font-weight: 100;
            font-size: 15px;
            border-radius: 4px;
            padding: 10px 10px;
            width: 170px;
            font-weight: 200;
           
            color: white;
            cursor: pointer;
        }

        .logout {
            margin-top: auto;
            padding-bottom: 30px;
            display: flex;
            flex-direction: row;
            cursor: pointer;
        }

        .normal-text-link {
            color: inherit;
            text-decoration: none;
            cursor: pointer;
        }
    </style>

    <style>
        #overlay {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
        }

        .img {
            position: absolute;
            top: 25%;
            left: 42%;
            z-index: 100;
            background-color: white;
            padding: 7px;
            border-radius: 120px;
            cursor: pointer;
        }

        #overlay-content {
            background-color: white;
            width: 350px;
            height: 390px;
            border-radius: 12px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: white;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            z-index: 10;
            /* Add additional styling for the overlay content */
        }

        .blue-half {
            display: flex;
            width: 600px;
            height: 225px;
            background-color: #113545;
            border-bottom-left-radius: 12px;
            border-bottom-right-radius: 12px;
            flex-direction: column;
            justify-content: flex-end;
        }

        /*.dp {
            width: 210px;
            height: 210px;
            border-radius: 100px;
            box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
            cursor: pointer;
        }*/

        .desc {
            padding: 10px 0px;
        }

        .headname {
            font-size: 2.5rem;
            font-family: 'Poppins', sans-serif;
        }

        .headrole {
            color: #9D9D9D;
            font-size: 14px;
            font-family: 'Jaldi', sans-serif;
        }

        .homebtn {
            background-color: #D9D9D9;
            border-radius: 8px;
            width: 90px;
            height: 32px;
            color: black;
            font-family: 'Jaldi', sans-serif;
            font-size: 14px;
            border: none;
            font-weight: 500;
        }

            .homebtn:focus {
                color: white;
                background-color: #113545;
                border: 1px solid white;
            }

        .dp1 {
            margin-top: 20px;
            width: 150px;
            height: 150px;
            border-radius: 75px;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            cursor:pointer;
        }

        .welcomeName {
            font-size: 23px;
            text-decoration: none;
            color: inherit;
            color: white;
            font-weight: 400;
            padding-left: 12px;
            padding-right: 6px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 5px;
            font-family: 'Jaldi', sans-serif;
        }
    </style>


    <script>
        $(document).ready(function () {
            // Function to show the overlay
            function showOverlay() {
                $("#overlay").fadeIn(200);
            }

            // Function to hide the overlay
            function hideOverlay() {
                $("#overlay").fadeOut(200);
            }

            // Example: Show overlay when a button is clicked
            $("#name").click(function (e) {
                e.stopPropagation(); // Prevent the click event from reaching the document

                showOverlay();

                // Perform your asynchronous operation here (e.g., AJAX call)
            });

            $("#close").click(function (e) {
                e.stopPropagation(); // Prevent the click event from reaching the document
                hideOverlay();
                // Perform your asynchronous operation here (e.g., AJAX call)
            });

            $(document).keyup(function (e) {
                if (e.key === "Escape") {
                    hideOverlay();
                }
            });


        });
    </script>


</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <div class="body-cont">
        <div class="nav-bar">
            <div class="nav-contents">
                <img src="~/Content/Images/logo.png" alt="Image 1" class="logo" />
            </div>

            <img src="@Url.Action("DisplayProfilePic", "Home", new { snr = @User.Identity.GetUserId() })" alt="Profile Picture" onerror="this.src='@Url.Content("~/Content/Images/placeholder.png")'" class="dp1" id="name" />

            <div class="welcomeName">
                @User.Identity.GetUserName()
            </div>
            <div class="nav-contents" style="margin-top: 50px">
                <ul>
                    <li>
                        <div class="nav-cont">
                            <img src="~/Content/Images/dashboard1.png" alt="Image 1" class="nav-icons image" />
                            @*<img src="~/Content/Images/dashboard1.png" alt="Image 1" class="nav-icons image1" />*@
                            <div style="padding-left: 25px;">@Html.ActionLink("Dashboard", "Index", "Home", null, new { @class = "normal-text-link" })</div>
                        </div>
                    </li>

                    <li>
                        <div class="nav-cont" data-bs-toggle="collapse" href="#dashboardCollapse2" aria-expanded="false" aria-controls="dashboardCollapse">
                            <img src="~/Content/Images/op.png" alt="Image 1" class="nav-icons image" />
                            @*<img src="~/Content/Images/dashboard1.png" alt="Image 1" class="nav-icons image1" />*@
                        <div style="padding-left: 25px;">Administrator</div>
                        </div>
                        <div class="nav-cont collapse" id="dashboardCollapse2">
                            <div class="sub">
                                <ul>
                                    <li>
                                        @Html.ActionLink("User Master", "Register", "Home", null, new { @class = "normal-text-link" })
                                    </li>
                                    @*<li>@Html.ActionLink("User Master", "UserView1", "Home", new { @class = "normal-text-link" })</li>*@
                                    <li>@Html.ActionLink("Add New Product", "AddNewProductView", "Home", null, new { @class = "normal-text-link" })</li>
                                    @*<li>@Html.ActionLink("Verify Image", "NewProductView", "Home", new { @class = "normal-text-link" })</li>*@
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="nav-cont" data-bs-toggle="collapse" href="#dashboardCollapse3" aria-expanded="false" aria-controls="dashboardCollapse">
                            <img src="~/Content/Images/admin.png" alt="Image 1" class="nav-icons image" />
                            @*<img src="~/Content/Images/dashboard1.png" alt="Image 1" class="nav-icons image1" />*@
                        <div style="padding-left: 25px;">Operations</div>
                        </div>
                        <div class="nav-cont collapse" id="dashboardCollapse3">
                            <div class="sub">
                                <ul>
                                    @*<li>@Html.ActionLink("Upload Allocation", "UploadAllocation", "Home", new { @class = "normal-text-link" })</li>*@
                                    <li>@Html.ActionLink("Case Manager", "DisplayCaseManager", "Home", null, new { @class = "normal-text-link" })</li>
                                    <li>@Html.ActionLink("Verify Manager", "DisplayVerifyManager", "Home", null, new { @class = "normal-text-link" })</li>
                                    <li>@Html.ActionLink("Send Cases", "CasesReports", "Home", null, new { @class = "normal-text-link" })</li>
                                    @*<li>@Html.ActionLink("Verify Transfer", "FETransfer", "Home", new { @class = "normal-text-link" })</li>*@
                                    <li>@Html.ActionLink("Verify Transfer", "FETransfer", "Home", null, new { @class = "normal-text-link", hidefocus = "hidefocus" })</li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <div style=" margin-top: auto;  display: flex; flex-direction: column; cursor: pointer;">
                @Html.Partial("_LoginPartial")
            </div>
        </div>

        <div class="body-conts">
            @RenderBody()   
        </div>

        <div id="overlay">
            @Html.Partial("_ProfilePic","Home")
        </div>

    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
