<!-- _CaseItemPartial.cshtml -->

@model IEnumerable<CPV_Mark3.Models.CaseTable>

<style>
    table {
        width: 100%;
    }

    .dis {
        width: 100%;
        height: 100%;
    }


    .view {
        margin-top: 40px;
        background-color: #EAF6F6;
        border-radius: 12px;
        padding: 10px;
        margin-left: 0px;
        margin-right: 0px;
        max-height: 500px;
        min-width: 1000px;
        width: 1050px;
        border: 1px groove #569F9F;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

        table th {
            font-size: 15px;
        }

    td, th {
        border: 1px groove #569F9F;
        padding: 8px;
        text-align: left;
    }

    tr:first-child td {
        border-top: none; /* Remove top border for the first row */
    }

    tr:last-child td {
        border-bottom: none; /* Remove bottom border for the last row */
    }

    td:first-child {
        border-left: none; /* Remove left border for the first column */
    }

    td:last-child {
        border-right: none; /* Remove right border for the last column */
    }

    table tr td {
        text-align: center;
        height: 60px;
        font-family: 'Jaldi', sans-serif;
        font-size: 15px;
        font-weight: 500;
        width: max-content;
       
        color: #3A6C6C;
    }

    .tableHead {
        font-size: 17px;
        font-weight: 700;
        width: max-content;
        white-space: nowrap;
        color: #3A6C6C;
    }

    .editCase {
        width: 15px;
        height: 15px;
        margin: 0px 2px;
        cursor: pointer;
    }

</style>
<script src="/Scripts/jquery-3.4.1.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        

         $(".submitBtn").click(function () {
             let data = $(this).data("id");
             let url = '@Url.Action("searchCases", "Home", new { id = "_id_" })';
              url = url.replace("_id_", data);

             $.ajax({
                 url: url,
                 type: "Post",
                 success: function (result) {
                         location.reload();
                         /* alert("Success");*/
                     },
                 error: function (error) {

                         alert("error")
                 }
                 })
         })

         $(".deleteBtn").click(function () {
             let data = $(this).data("id");

              @*let url = '@Url.Action("DeleteCase", "Home", new { id = "_id_" })';*@


              let url = '@Url.Action("DeleteCase")';
              let ajaxdata = { id : data };
              //url = url.replace("_id_", data);
             /* alert(ajaxdata);*/
             $.ajax({
                 url: url,
                 data: ajaxdata,
                 type: "Post",
                 success: function (result) {
                     location.reload();
                    /* alert("Success");*/
                 },
                 error: function (error) {
                     location.reload();
                     /*alert("error")*/
                 }
             })

         })
    });
</script>
<script>
    function updateSelectedRole(selectedRole) {
        document.getElementById('callingViewHiddenField').value = selectedRole;
    }
</script>


<div>
    @using (Html.BeginForm("DisplayCaseManager", "Home", FormMethod.Post))
    {
        <table>
            <tr>
                <td class="tableHead">Application no</td>
                <td class="tableHead">Customer Name</td>
                <td class="tableHead">Company Name</td>
                <td class="tableHead">Product</td>
                <td class="tableHead">FE Name</td>
                <td class="tableHead">Allocation Date</td>
                <td class="tableHead">Final Date</td>
                <td class="tableHead">Final Status</td>
                <td class="tableHead">Type</td>
                <td class="tableHead">Send PDA</td>
                <td class="tableHead">Delete</td>

            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Application_no, new { @class = "tablecont" })
                        <a href="@Url.Action("EditCases", "Home", new { id = item.Id })">
                            <img src="~/Content/Images/edit.png" class="editCase" data-id='@item.Id'>
                        </a>
                    </td>
                    <td>@Html.DisplayFor(modelItem => item.Application_name, new { @class = "tablecont" }) </td>
                    <td>@Html.DisplayFor(modelItem => item.Company_Name, new { @class = "tablecont" }) </td>
                    <td>@Html.DisplayFor(modelItem => item.Product, new { @class = "tablecont" }) </td>
                    <td>@Html.DisplayFor(modelItem => item.FE_Name, new { @class = "tablecont" }) </td>
                    <td>@Html.DisplayFor(modelItem => item.Allocation_Date, new { @class = "tablecont" }) </td>
                    <td>@Html.DisplayFor(modelItem => item.Final_Date, new { @class = "tablecont" }) </td>
                    <td>@Html.DisplayFor(modelItem => item.Final_Status, new { @class = "tablecont" }) </td>
                    <td>@Html.DisplayFor(modelItem => item.Visit_Type, new { @class = "tablecont" }) </td>
                    <td>

                        @Html.HiddenFor(modelItem => item.Id)
                        @*<button type="button" data-id='@item.Id' class="btn btn-primary submitBtn">Send to PDA</button>*@

                        <img src="~/Content/Images/send.png" style="width: 20px; height: 20px; cursor: pointer;" data-id='@item.Id' class="submitBtn" />


                        @*@Html.ActionLink("Send to PDA", "CreateCaseManagerView", "Home", new { id = item.Id }, new { @class = "btn btn-primary" })*@
                        @*@Html.ActionLink("Delete", "DisplayCaseManager", "Home", new { id = item.Id }, new { @class = "btn btn-primary" })*@
                    </td>
                    <td>
                        <img src="~/Content/Images/trash.png" style="width: 25px; height: 25px; cursor: pointer;" data-id='@item.Id' class="deleteBtn" />
                        @*<button type="button" data-id='@item.Id' class="btn btn-primary deleteBtn">Delete</button>*@
                    </td>
                </tr>

            }

        </table>
    }
</div>




