@model List<CPV_Mark3.Models.CaseTable>
@using CPV_Mark3.Controllers;
<!DOCTYPE html>
<html>
<head>
    <title>Add New User</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script type="text/javascript">
        $(".submitBtn").click(function () {
    let data = $(this).data("id");

    let url = '@Url.Action("EditVerifyManager", "Home", new { id = "_id_" })';

    url = url.replace("_id_", data);

    $.ajax({
        url: url,
        type: "Post",
        success: function (result) {
            // Redirect to the specified URL
            window.location.href = '@Url.Action("EditVerifyManager", "Home", new { id = "_id_" })'.replace("_id_", data);
        },
        error: function (error) {
            alert("error");
        }
    });
});

    </script>
    <style>
        @@import url('https://fonts.googleapis.com/css2?family=Jaldi&display=swap');
        @@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
        /*body {
            font-family: sans-serif;
            font-size: 16px;*/ /* Set your desired base font size */
        /*width: 100%;
            height: 100%;
        }*/

        h1, h2 {
            margin-bottom: 20px;
        }

        .user-form {
            border: 1px solid #ccc;
            padding: 20px;
            border-radius: 5px;
            width: 450px;
        }


        label {
            color: #857F7F;
            font-family: 'Poppins', sans-serif;
            font-weight: 400;
            font-size: 15px;
            padding: 0px 5px;
            font-weight: 600;
        }



        .user-list {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
            background-color: white;
        }

            .user-list th, .user-list td {
                padding: 10px;
                border: 1px solid #ccc;
                text-align: left;
            }

        .user-form {
            display: flex;
            flex-direction: column;
        }

        .cont {
            width:100%;
            height:100%;
            display: flex;
            flex-direction: column;
        }

        .userbody-content {
            display: flex;
            flex-direction: column;
            width: 95%;
            height: 90vh;
            background-color: #FFFFFF;
            border-radius: 12px;
            padding: 10px;
            overflow: hidden;
        }


        .dis {
            width: max-content;
            height: 125vh;
            width: 100%;
        }

        .view {
            margin-top: 40px;
            background-color: #EAF6F6;
            border-radius: 12px;
            padding: 10px;
            margin-right: 15px;
            /*max-height: 4500px;*/
            max-height: 60% !important;
            max-width: 100%;
            min-width: 1000px;
            width: 1050px;
            border: 1px groove #569F9F;
            overflow: auto;
        }

             
            

        table {
            border-collapse: collapse;
        }

        td, th {
            border: 0.5px solid #67919F;
            padding: 8px;
            text-align: left;
        }

        tr:first-child td {
            border-top: none; /* Remove top border for the first row */
        }

        tr:last-child td {
            border-bottom: none; /* Remove bottom border for the last row */
        }

        td:first-child {
            border-left: none; /* Remove left border for the first column */
        }

        td:last-child {
            border-right: none; /* Remove right border for the last column */
        }

        table tr td {
            text-align: center;
            height: 60px;
            font-family: 'Jaldi', sans-serif;
            font-size: 15px;
            font-weight: 500;
            width: max-content;
            color: #3A6C6C;
        }

        .tableHead {
            font-size: 17px;
            font-weight: 700;
            width: max-content;
            white-space: nowrap;
            color: #3A6C6C;
        }

        .heading {
            color: #3A6C6C;
            font-size: 42px;
            font-family: 'Jaldi', sans-serif;
            padding-top: 40px;
            text-align: left;
            font-weight: 600;
            white-space: nowrap;
        }




        .search-input {
            background-color: #E3F4F4;
            border-radius: 50px;
            border-style: none;
            width: 500px;
            height: 40px;
            margin-top: 7px;
            margin-bottom: 10px;
            border-bottom-right-radius: 0px;
            border-top-right-radius: 0px;
            font-family: 'Jaldi', sans-serif;
            font-size: 15px;
            padding-left: 10px;
        }

            .search-input:focus {
                border-color: #68c5b5; /* Set the border color you want when the input is focused */
                outline: none; /* Remove the default focus outline (optional) */
            }

        #btnsubmit {
            background-color: #236154;
            border-radius: 4px;
            border: none;
            width: 60px;
            height: 30px;
            color: white;
            font-family: 'Jaldi', sans-serif;
            font-size: 15px;
        }

            #btnsubmit:hover {
                background-color: #024444;
                color: white;
            }

        .box {
            background-color: #E3F4F4;
            border-radius: 12px !important;
            border-style: none;
            width: 150px;
            height: 30px;
            margin-top: 7px;
            margin-bottom: 10px;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            font-size: 12px;
            padding: 0px 5px;
            border: 1px groove #569F9F;
        }



            .box:focus {
                border: 1px groove #569F9F;
            }

        .placeholder {
            height: 25px;
            opacity: .03;
            border-radius: 12px;
            margin: 5px;
        }
    </style>


    <script>
        $(document).ready(function () {

            searchVerify()

            $("#btnsubmit").on("click", function (e) {

                searchVerify()
            });

            $("#searchInput").keypress(function (e) {
                if (e.which === 13) {
                    e.preventDefault();
                    searchVerify();
                }
            });

            $("#dropdown").keypress(function (e) {
                if (e.which === 13) {
                    e.preventDefault();
                    searchVerify();
                }
            });

            $("#dropdown2").keypress(function (e) {
                if (e.which === 13) {
                    e.preventDefault();
                    searchVerify();
                }
            });

            $("#dropdown3").keypress(function (e) {
                if (e.which === 13) {
                    e.preventDefault();
                    searchVerify();
                }
            });

        })


        function searchVerify() {
                console.log("Button clicked");
                var query = $("#searchInput").val();
                var query2 = $("#dropdown").val();
                var query3 = $("#dropdown2").val();
                var query4 = $("#dropdown3").val();
                var query5 = $("#date").val();

                //    if (query5.trim() === "") {
                //        query5 = "01-01-2001";
                ///*        alert(query5);*/
                //    }
            /*alert(query5);*/

                var url = '@Url.Action("_SearchVerifyManager", "Home")';
                //url = url.replace("_query_", query);
                //url = url.replace("_query2_", query2);
                //url = url.replace("_query3_", query3);
                //url = url.replace("_query4_", query4);
                console.log(url);
                $.ajax({
                    url: url,
                    data: {
                        query: query,
                        query2: query2,
                        query3: query3,
                        query4: query4,
                        query5: query5
                    },
                    type: "Post",
                    success: function (result) {

                        $("#VerifyList").html(result);
                    },
                    error: function (e) {
                        alert("Error fetching search results");
                    }
                });
            }

    </script>


</head>
<body style="padding: 0px;">
    <div class="userbody-content">
        <div class="heading">Verify Manager</div>

        <div style="display: flex; flex-direction: row; width: 100%;">

            <div>
                <label>Application No</label>
                @*<input class="form-control" id="search" name="search" type="text" value="" "  />*@
                <input type="text" id="searchInput" class="box" />
            </div>

            <div>
                <label>User List</label>
                @*<input type="text" id="callingViewHiddenField" style="display: none;" />
            @{ Html.RenderAction("_FEView", "Home"); }*@
                @Html.DropDownList("FEList", new SelectList(HomeController.GetAllUsers()), "--Users--", new { @class = "box", id = "dropdown" })
            </div>

            <div>
                <label>Product</label>
                <input type="text" id="callingViewHiddenField" style="display: none;" />
                @Html.DropDownList("Product", new SelectList(CPV_Mark3.Controllers.HomeController.GetProductList()), "-- Select --", new { @class = " drop box", id = "dropdown2" })
            </div>

            <div>
                <label>Status</label>
                <input type="text" id="callingViewHiddenField" style="display: none;" />
                @Html.DropDownList("Status", new SelectList(CPV_Mark3.Controllers.HomeController.GetStatus()), "-- Select --", new { @class = " drop box", id = "dropdown3" })
            </div>

            @*<div>
                <label>User List</label>
                <input type="text" id="callingViewHiddenField" style="display: none;" />
                @{ Html.RenderAction("_FEView", "Home"); }
            </div>*@

            <div>
                <label>Status Date</label>
                <input type="date" id="date" name="date" class = "drop box">
            </div>

           


            <div style=" width: 150px; margin-left: 5px; margin: 7px 3px 10px 8px; display: flex; align-items: end;">
                <input type="button" id="btnsubmit" value="Search" />
            </div>

        </div>


            <div class="dis">
                <div class="view">


                    <div id="VerifyList" aria-hidden="true">
                        <p class="card-text placeholder-glow">
                            <span class="placeholder col-1"></span>
                            <span class="placeholder col-1"></span>
                            <span class="placeholder col-1"></span>
                            <span class="placeholder col-1"></span>
                            <span class="placeholder col-1"></span>
                            <span class="placeholder col-1"></span>
                            <span class="placeholder col-1"></span>
                            <span class="placeholder col-1"></span>
                            <span class="placeholder col-1"></span>
                            <span class="placeholder col-1"></span>
                            <span class="placeholder col-12"></span>
                            <span class="placeholder col-12"></span>
                            <span class="placeholder col-12"></span>

                        </p>
                    </div>

                    <div id="VerifyList">

                    </div>
                </div>
            </div>

        </div>
</body>
</html>

