@model IEnumerable<CPV_Mark3.Models.CaseTable>



@*<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>*@
<script src="/Scripts/jquery-3.4.1.min.js"></script>

<script type="text/javascript">
  
    $(document).ready(function () {
        
        $(".caseRow").on("click", function () {
            let Id = $(this).find('td').first().text();

            let url = '@Url.Action("EditVerifyManager","Home")/' + Id.trim();
            window.open(url, '_blank');

            // window.location.href = url;            

        });

        $("#closefeCase").on("click", function (e) {
           // alert("close");
            e.stopPropagation(); // Prevent the click event from reaching the document
            hideOverlayfe();

        }); 
      
        function hideOverlayfe() {
            $("#overlayFe").fadeOut(200);
        }
    })
</script>

<style>
    .caseRow {
        cursor: pointer;
    }

        .caseRow:hover {
            background-color: aqua;
        }

    .table-hover tbody tr:hover {
        background-color: aqua;
    }
</style>

<div id="overlayfe-content">
         
    <div class="desc" style="display: flex; flex-direction: column; align-items:center;">
      
        <div >
            <div style="display:flex">
               
            </div>
        </div>
        <div style="width:90%">
            <table>
                <thead class="headerfe" style="background-color:white">
                    <tr>
                        <th colspan="5" style="text-align: center; color: blue; font-weight:bolder; font-size: 20px">@ViewBag.feName</th>
                        <th id="closefeCase" style="position: absolute; right: 20px; cursor: pointer; font-size: 20px"><span class="glyphicon glyphicon-remove"></span></th>
                    </tr>
                    <tr style="font-size: 16px">

                        <th>
                            @Html.DisplayNameFor(model => model.Application_name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Application_no)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Company_Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Final_Date)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Final_Status)
                        </th>

                   
                    </tr>
                </thead>
               
                <tbody class="contentfe">
                    @foreach (var item in Model)
                    {
                        <tr class="caseRow">
                            <td hidden="hidden">
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Application_name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Application_no)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Company_Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Final_Date)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Final_Status)
                            </td>
                           
                        </tr>
                    }
                </tbody>
              

            </table>

        </div>
    </div>

    </div>


