@model  CPV_Mark3.Models.CaseTable

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?sensor=false&key=AIzaSyAxcusmWmO3lhnqIPSgeqhcsajy5vODlzU&callback=Function.prototype"></script>
    <script>
           function sendHtml() {
               var $prints = document.getElementById('print');//$("#print");

               var printHtml = $prints.outerHTML;
               var htmldata = printHtml;
               //    new File([printHtml], { type: 'text/html' });
               //var encodedHtml = encodeURIComponent(printHtml);
               //printHtml = "";
               var formdata = new FormData();
               console.log(htmldata)
               formdata.append('htmldata', htmldata);
               //console.log($prints.length); // should be 1 if found
               var url = '@Url.Action("PdfSharpConvert", "Home")';

            $.ajax({
                url: url,
                type: "POST",
                data: formdata,
                processData: false,
                contentType: false,
                success: function (response) {
                    console.log(response);
                },
                error: function (error) {
                    console.error("vish", error);
                }
            });


        }
    </script>
    <script src="https://unpkg.com/html2pdf.js/dist/html2pdf.bundle.js"></script>

    <script>


        $(document).ready(function () {

            function initializeMapAndSavePDF() {
                generatePDF();
            }
        });


    </script>

    <style>
        @@import url('https://fonts.googleapis.com/css2?family=Jaldi&display=swap');
        @@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

        .print-page table th {
            border: solid 1px black;
            background-color: #ddd;
            width: 50px;

        }

        .print-page table tr td {
            border: solid 1px black;
            text-align: left;
            padding-left:5px;
        }

        table tr td {
            page-break-inside: avoid;
        }

        table {
            border-collapse: collapse;
            width: 700px;
            table-layout: fixed;
            page-break-inside: avoid;
        }

            table tr td {
                text-align: center;
                font-family: 'Jaldi', sans-serif;
                /*                width: 100%;*/

            }

            table tr th {
                text-align: left;
                font-family: 'Jaldi', sans-serif;
                /*width: 100%;*/
            }

        .print {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
        }

        .saveBtn {
            background-color: #024444;
            color: white;
            font-family: 'Jaldi', sans-serif;
            font-size: 20px;
            cursor: pointer;
            width: 100px;
            height: 50px;
            border-radius: 4px;
            margin-bottom: 10px;
        }

            .saveBtn:hover {
                background-color: #012b2b;
                color: white;
            }

        tr {
            page-break-inside: avoid;
        }

        table {
            page-break-inside: avoid;
        }

        .print-page table tr {
            page-break-inside: avoid;
        }

            .print-page table tr td {
                border: solid 1px black;
                page-break-inside: avoid;
            }


    </style>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    <script>
       function generatePDF() {
   
    Swal.fire({
        title: 'Generating PDF',
        text: 'Map image is loaded. Please wait...',
        allowOutsideClick: false,
        onBeforeOpen: () => {
            Swal.showLoading();
        },
    });

    var pdfElement = document.getElementById('print');

           html2pdf(pdfElement, {
         useCORS: true, 
         margin: [0, 10, 0, 10], // [top, right, bottom, left]
            filename: '@Model.Application_no' + '-' + '@Model.Application_name' + '.pdf',
            image: { type: 'jpeg', quality: 1 },
            html2canvas: { scale: 2 },
            jsPDF: { unit: 'mm', format: 'a4', orientation: 'portrait' }
        }).then(() => {
            // Close SweetAlert upon successful PDF generation
            Swal.close();
        }).catch((error) => {
            // Handle errors if any
            console.error('PDF generation error:', error);
            Swal.fire({
                icon: 'error',
                title: 'Error',
                text: 'An error occurred while generating the PDF.',
            });
        });
}
    </script>

</head>
<body>
    <div style="display:flex; justify-content:center; align-items: center;">
        <input type="button" value="Save" class="saveBtn" onclick="generatePDF()" />
    </div>
    <div>
        <div class="pdf" style="display: flex; justify-content:center; align-items:center;">
            <div class="print-page" id="print">
                <table style="width: 700px; table-layout: fixed;" class="pdf">
                    <thead>
                        <tr >
                            <td colspan="2" style="text-align:center;">
                                <img src="~/Content/images/verify-logo.png" />
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th colspan="2" style="font-size: 17px; background-color: #9ea615; text-align: center; ">ADIB FIELD VISIT</th>
                        </tr>
                        <tr>
                            <th>Product</th>
                            <td>@Model.Product</ td >
                        </tr>
                        <tr>
                            <th>Received Date</th>
                            <td>@Model.Allocation_Date</td>
                        </tr>
                        <tr>
                            <th>Date & Time Of Visit</th>
                            <td @*colspan="4"*@>@Model.Final_Date</td>
                        </tr>
                        <tr>
                            <th>Final Submit</th>
                            <td>@Model.Final_Date</td>
                        </tr>
                        <tr>
                            <th>Application ID</th>
                            <td>@Model.Application_no</td>
                        </tr>
                        <tr>
                            <th>Customer Name</th>
                            <td>@Model.Application_name</td>
                        </tr>
                        <tr>
                            <th>Company Name</th>
                            <td>@Model.Company_Name</td>
                        </tr>
                        <tr>
                            <th>Visit Address</th>
                            <td>@Model.Company_Address</td>
                        </tr>
                        <tr>
                            <th>Landmark</th>
                            <td @*colspan="4">*@ @Model.Landmark</td>
                        </tr>
                        <tr>
                            <th>Landline</th>
                            <td @*colspan="4"*@>@Model.Landline</td>
                        </tr>
                        <tr>
                            <th>Contact Person</th>
                            <td @*colspan="4"*@>@Model.Contacted_Person</td>
                        </tr>
                        <tr>
                            <th>Contacted Person Mobile number</th>
                            <td @*colspan="4"*@>@Model.Contacted_Person_Mobile_No</td>
                        </tr>
                        <tr>
                            <th>Emirate</th>
                            <td @*colspan="4"*@>@Model.Emirate</td>
                        </tr>
                        <tr>
                            <th>Trade License Number</th>
                            <td @*colspan="4"*@>@Model.Trade_License_Number</td>
                        </tr>
                        <tr>
                            <th>Verifier Name</th>
                            <td @*colspan="4"*@>@Model.FE_Name</td>
                        </tr>
                        <tr>
                            <th>Validated Office Landline</th>
                            <td @*colspan="4"*@>@Model.Validated_Office_Landline</td>
                        </tr>
                        <tr>
                            <th>If Yes, validated Landline no</th>
                            <td @*colspan="4"*@>@Model.Validated_Office_Landline_No</td>
                        </tr>
                        <tr>
                            <th>If Not, Specify Reason</th>
                            <td @*colspan="4"*@>@Model.Validated_Office_Landline_NotReason</td>
                        </tr>
                        <tr>
                            <th>Source of Validated Number</th>
                            <td @*colspan="4"*@>@Model.Source_of_Validated_Number</td>
                        </tr>
                        <tr>
                            <th>Office Location Type</th>
                            <td @*colspan="4"*@>@Model.Office_Location_Type</td>
                        </tr>
                        <tr>
                            <th colspan="2" style="font-size: 17px; background-color: #9ea615; text-align: center; ">Appearance</th>
                        </tr>
                        <tr>
                            <th>
                                Subject company signboard
                            </th>
                            <td @*colspan="4"*@>@Model.Subject_company_signboard</td>
                        </tr>
                        <tr>
                            <th>
                                Available at Office door
                            </th>
                            <td @*colspan="4"*@>@Model.Available_OfficeDoor</td>
                        </tr>
                        <tr>
                            <th>
                                Different company name board seen
                            </th>
                            <td @*colspan="4"*@>@Model.Different_CompanyNameBoard_Seen</td>
                        </tr>
                        <tr>
                            <th>
                                If Different then specify reason
                            </th>
                            <td @*colspan="4"*@>@Model.Different_CompanyNameBoard_Seen_Reason</td>
                        </tr>
                        <tr>
                            <th>
                                Type of Signboard on Door
                            </th>
                            <td @*colspan="4"*@>@Model.Type_Signboard_OnDoor</td>
                        </tr>
                        <tr>
                            <th>
                                Name on Society board
                            </th>
                            <td @*colspan="4"*@>@Model.Name_SocietyBoard</td>
                        </tr>
                        <tr>
                            <th>
                                Security Guard for the building
                            </th>
                            <td @*colspan="4"*@>@Model.SecurityGuard_Building</td>
                        </tr>
                        <tr>
                            <th>
                                Reception Desk
                            </th>
                            <td @*colspan="4"*@>@Model.ReceptionDesk</td>
                        </tr>
                        <tr>
                            <th>
                                Business activity seen
                            </th>
                            <td @*colspan="4"*@>@Model.BusinessActivity_Seen</td>
                        </tr>
                        <tr>
                            <th>
                                Trade License of the company displayed on the premises
                            </th>
                            <td @*colspan="4"*@>@Model.TradeLicense_Displayed</td>
                        </tr>
                        <tr>
                            <th>
                                Setup of Office
                            </th>
                            <td @*colspan="4"*@>@Model.Setup_of_Office</td>
                        </tr>
                        <tr>
                            <th>
                                Assets Seen
                            </th>
                            <td @*colspan="4"*@>@Model.Assets_Seen</td>
                        </tr>
                        <tr>
                            <th colspan="2" style="font-size: 17px; background-color: #9ea615; text-align: center; ">Company Information</th>
                        </tr>
                        <tr>
                            <th>
                                Website address and is the company website active
                            </th>
                            <td @*colspan="4"*@>@Model.WebsiteAddress_Active</td>
                        </tr>
                        <tr>
                            <th>
                                Nature of Business
                            </th>
                            <td @*colspan="4"*@>@Model.Nature_of_Business</td>
                        </tr>
                        <tr>
                            <th>
                                Office observation
                            </th>
                            <td @*colspan="4"*@>@Model.Office_observation</td>
                        </tr>
                        <tr>
                            <th>
                                Number of Employees seen
                            </th>
                            <td @*colspan="4"*@>@Model.No_Employees_Seen</td>
                        </tr>
                        <tr>
                            <th>
                                Number of Employees as per contacted person
                            </th>
                            <td @*colspan="4"*@>@Model.No_Employees_ContactedPerson</td>
                        </tr>
                        <tr>
                            <th>
                                if Sister Concern Company
                            </th>
                            <td @*colspan="4"*@>@Model.If_Sister_ConcernCompany</td>
                        </tr>
                        <tr>
                            <th>
                                Group Co. Owenrship details
                            </th>
                            <td @*colspan="4"*@>@Model.Co_Owenrship_details</td>
                        </tr>
                        <tr>
                            <th>
                                External Audit done, if Yes Auditor are
                            </th>
                            <td @*colspan="4"*@>@Model.External_Audit</td>
                        </tr>
                        <tr>
                            <th>
                                Annual Revenue and Annual Profite (If Known)
                            </th>
                            <td @*colspan="4"*@>@Model.Annual_Revenue</td>
                        </tr>
                        <tr>
                            <th>
                                Applicants Designation
                            </th>
                            <td @*colspan="4"*@>@Model.Applicants_Designation</td>
                        </tr>
                        <tr>
                            <th>
                                Date of Joining
                            </th>
                            <td @*colspan="4"*@>@Model.DoJ_Applicant</td>
                        </tr>
                        <tr>
                            <th>
                                Gross Salary (if employee)
                            </th>
                            <td @*colspan="4"*@>@Model.Gross_Salary</td>
                        </tr>
                        <tr>
                            <th>
                                Profit % (if owner/partner)
                            </th>
                            <td @*colspan="4"*@>@Model.Profit</td>
                        </tr>
                        <tr>
                            <th>
                                Accommodation Provided
                            </th>
                            <td @*colspan="4"*@>@Model.Accommodation_Provided</td>
                        </tr>
                        <tr>
                            <th>
                                Applicant Reports to
                            </th>
                            <td @*colspan="4"*@>@Model.Applicant_Reports_to</td>
                        </tr>
                        <tr>
                            <th>
                                Whether the applicant is related to the OWNER or AUTHORIZED SIGNATORY: If Yes Relation
                            </th>
                            <td @*colspan="4"*@>@Model.AUTHORIZED_SIGNATORY</td>
                        </tr>
                        <tr>
                            <th colspan="2" style="font-size: 17px; background-color: #9ea615; text-align: center;">Field Visit Review</th>
                        </tr>
                        <tr>
                            <th>
                                Details Verified With
                            </th>
                            <td @*colspan="4"*@>@Model.Details_Verified_With</td>
                        </tr>
                        <tr>
                            <th>
                                Designation
                            </th>
                            <td @*colspan="4"*@>@Model.Designation</td>
                        </tr>
                        <tr>
                            <th>
                                Orginal Seen
                            </th>
                            <td @*colspan="4"*@>@Model.Orginal_Seen</td>
                        </tr>
                        <tr>
                            <th>
                                Is the tenancy contract/Trade License captured
                            </th>
                            <td @*colspan="4"*@>@Model.TradeLicense_Displayed</td>
                        </tr>
                        <tr>
                            <th>
                                Business card captured
                            </th>
                            <td @*colspan="4"*@>@Model.Business_card_captured</td>
                        </tr>
                        <tr>
                            <th>
                                Documents Captured
                            </th>
                            <td @*colspan="4"*@>@Model.Documents_Captured</td>
                        </tr>
                        <tr>
                            <th>
                                VAT Registration Number
                            </th>
                            <td @*colspan="4"*@>@Model.VAT_RegNumber</td>
                        </tr>
                        <tr>
                            <th>
                                Makani Number
                            </th>
                            <td @*colspan="4"*@>@Model.Makani_No</td>
                        </tr>
                        <tr>
                            <th colspan="2" style="font-size: 17px; background-color: #9ea615; text-align: center; ">Neighborhood Check</th>
                        </tr>
                        <tr>
                            <th>
                                Name of the Neighbor 1 and their feedback
                            </th>
                            <td @*colspan="4"*@>@Model.Name_Neighbor1_feedback</td>
                        </tr>
                        <tr>
                            <th>
                                Name of the Neighbor 2 and their feedback
                            </th>
                            <td @*colspan="4"*@>@Model.Name_Neighbor2_feedback</td>
                        </tr>
                        <tr>
                            <th colspan="2" style="font-size: 17px; background-color: #9ea615; text-align: center; ">Security Check</th>
                        </tr>
                        <tr>
                            <th>
                                Name of the Security and feedback
                            </th>
                            <td @*colspan="4"*@>@Model.Name_Security_feedback</td>
                        </tr>
                        <tr>
                            <th colspan="2" style="font-size: 17px; background-color: #9ea615; text-align: center; ">FE's Comments</th>
                        </tr>
                        <tr>
                            <th>FE Decision</th>
                            <td @*colspan="4"*@>@Model.FE_Decision</td>
                        </tr>
                        <tr>
                            <th>Location Map</th>
                            <td @*colspan="4"*@>@Model.Latitude,@Model.Longitude</td>
                        </tr>
                        <tr>
                            <th>Feedback</th>
                            <td @*colspan="4"*@>@Model.Feedback</td>
                        </tr>
                        <tr>
                            <th colspan="2" style="font-size: 17px; background-color: #9ea615; text-align: center; ">Location</th>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <img id="mapImage" style="width: 300px; height: 300px; display: flex; justify-content: center" />

                                <script>
                                   const imageUrl = "https://maps.googleapis.com/maps/api/staticmap?center=@Model.Latitude,@Model.Longitude&zoom=16&scale=false&size=900x600&maptype=roadmap&format=png&visual_refresh=true&markers=size:mid|color:red|label:|@Model.Latitude,@Model.Longitude&key=AIzaSyAxcusmWmO3lhnqIPSgeqhcsajy5vODlzU";

                                   const imgElement = document.getElementById("mapImage");

                                   // Set the crossOrigin attribute
                                   imgElement.crossOrigin = "Anonymous";

                                   // Load the image
                                   imgElement.src = imageUrl;

                                   // Wait for the image to load and then convert to base64
                                   imgElement.onload = function () {
                                       setTimeout(function () {
                                           convertImageToBase64();
                                       }, 1000); // Adjust the delay as needed
                                   };

                                   function convertImageToBase64() {
                                       const canvas = document.createElement("canvas");
                                       const ctx = canvas.getContext("2d");
                                       canvas.width = imgElement.width;
                                       canvas.height = imgElement.height;
                                       ctx.drawImage(imgElement, 0, 0, imgElement.width, imgElement.height);

                                       // Get base64 data URL
                                       const base64Data = canvas.toDataURL("image/jpeg", 0.8); // Specify the image format and quality
                                       console.log("Base64 Image:", base64Data);

                                       // Display the compressed image
                                       imgElement.src = base64Data;
                                   }
                                </script>

                            </td>

                        </tr>
                        <tr>
                            <th colspan="2" style="font-size: 17px; background-color: #9ea615; text-align: center; ">Images</th>

                        </tr>

                        @{
                            var images = ViewBag.Images; // Assuming ViewBag.Images is a list of base64 images
                        }

                        @for (int i = 0; i < images.Count; i += 2)
                        {
                            <tr>
                                @for (int j = i; j < i + 2 && j < images.Count; j++)
                                {
                                    <td style="text-align: center; vertical-align: top; padding: 10px;">
                                        <img src="data:image/png;base64,@images[j]" alt="Image" style="max-width: 200px; height: auto; margin: 10px 5px; border: 0.5px groove black; padding: 20px; " />
                                    </td>
                                }
                            </tr>
                        }

                        <tr>
                            <th colspan="2" style="font-size: 17px; background-color: #9ea615; text-align: center; ">Signatures</th>

                        </tr>
                        <tr>
                            <td colspan="2" style="text-align: center; vertical-align: top; padding: 10px; border: 1px solid black;">
                                @if (ViewBag.ImageSrcs != null && ViewBag.ImageSrcs.Length > 0)
                                {
                                    <div style="display: flex; justify-content: space-around;">
                                        @for (int i = 0; i < ViewBag.ImageSrcs.Length; i++)
                                        {
                                            var imageName = i == 0 ? "Customer Signature" : "Verifier Signature";
                                            var imageSrc = ViewBag.ImageSrcs[i];

                                            <figure style="text-align: center;">
                                                <img src="@imageSrc" alt="@imageName" style="border: none; max-width: 200px; height: auto;" />
                                                <figcaption>@imageName</figcaption>
                                            </figure>
                                        }
                                    </div>
                                }
                            </td>




                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
    <script src="/bundles/jquery?v=2u0aRenDpYxArEyILB59ETSCA2cfQkSMlxb6jbMBqf81"></script>

    <script src="/bundles/bootstrap?v=ESck_wvaWCiF5JsitLMh765lhMnw7BVBtZE-YUTa4Ns1"></script>
</body>
</html>


