@model  CPV_Mark3.Models.CaseTable




@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.min.js"></script>
    <script src="https://unpkg.com/html2pdf.js/dist/html2pdf.bundle.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

   
    <style>
        @@import url('https://fonts.googleapis.com/css2?family=Jaldi&display=swap');
        @@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

        .print-page table th {
            border: solid 1px black;
            background-color: #ddd;
         width: 200px !important;
        }

        .print-page table tr td {
            border: solid 1px black;
            text-align: left;
            padding-left: 5px;
        }

        table {
            width: 700px;
            border-collapse:collapse;
            /* table-layout: fixed;*/
            page-break-inside: avoid;
        }

        table tr {
            page-break-inside: avoid !important;
        }

        table td {
            border: solid 1px black;
            text-align: center;
            font-family: 'Jaldi', sans-serif;
            page-break-inside: avoid !important;
        }

        table th {
            border: solid 1px black;
            text-align: left;
            font-family: 'Jaldi', sans-serif;
            page-break-inside: avoid !important;
        }

        .print {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
        }

        .saveBtn {
            background-color: #024444;
            color: white;
            font-family: 'Jaldi', sans-serif;
            font-size: 20px;
            cursor: pointer;
            width: 100px;
            height: 50px;
            border-radius: 4px;
            margin-bottom: 10px;
        }

            .saveBtn:hover {
                background-color: #012b2b;
                color: white;
            }

         pdf table tr{
            page-break-inside: avoid;
            page-break-before:avoid;
        }

        .print-page table tr {
            page-break-inside: avoid;
            page-break-before: auto;
        }

        .print-page table tr td {
            page-break-inside: avoid;
            page-break-before: auto;
        }

         .page-break {
            page-break-before: always;
        }

        table {

            page-break-inside: avoid;
        }

            table tr {
                page-break-inside: avoid;
            }

            table td {
                page-break-inside: avoid;
            }

            table th {
                page-break-inside: avoid;
            }

        div#print {
            page-break-after: always;
        }





    </style>
</head>
<body>
    @{
        if (ViewBag.PrintPdf != 1)
        {
            <div style="display: flex; justify-content:center; align-items: center;">
                @Html.ActionLink("Save to PDF", "PrintVerifyManager", "Home", new { id = Model.Id, PrintPdf = 1 }, new { @class = "saveBtn", style = "text-decoration: none; display: inline-block; text-align: center; line-height: 40px; width: 120px; height: 40px; background-color: #007bff; color: #ffffff; border-radius: 5px; font-weight: bold;" })
            </div>

        }
    }
    <div class = "container-fluid">
        <div style="display: flex; justify-content:center; align-items:center;">
            <div class="print-page">

                <table class="pdf" id="print" style="width: 100%; max-width: 1200px;">
                    <thead>
                        <tr>
                            <td colspan="8" class="text-center align-top" style="justify-content:center" >                               
                                <img src="@Url.Content("~/Content/Images/verify-logo.jpg")" alt="Logo" style="display: block; margin: 0 auto;" />
                            </td>
                        </tr>
                    </thead>
                    <tr>
                        <th colspan="6" style="font-size: 17px; background-color: #9ea615; text-align: center; ">ADIB FIELD VISIT</th>
                    </tr>
                    <tr>
                        <th>Product</th>
                        <td colspan="4">@Model.Product</td>
                    </tr>
                    <tr>
                        <th>Received Date</th>
                        <td colspan="4">@Model.Allocation_Date</td>
                    </tr>
                    <tr>
                        <th>Date & Time Of Visit</th>
                        <td colspan="4">@Model.VisitDate</td>
                    </tr>
                    <tr>
                        <th>Final Submit</th>
                        <td colspan="4">@Model.Final_Date</td>
                    </tr>
                    <tr>
                        <th>Application ID</th>
                        <td colspan="4">@Model.Application_no</td>
                    </tr>
                    <tr>
                        <th>Customer Name</th>
                        <td colspan="4">@Model.Application_name</td>
                    </tr>
                    <tr>
                        <th>Company Name</th>
                        <td colspan="4">@Model.Company_Name</td>
                    </tr>
                    <tr>
                        <th>Visit Address</th>
                        <td colspan="4">@Model.Company_Address</td>
                    </tr>
                    <tr>
                        <th>Landmark</th>
                        <td colspan="4"> @Model.Landmark</td>
                    </tr>
                    <tr>
                        <th>Landline</th>
                        <td colspan="4">@Model.Landline</td>
                    </tr>
                    <tr>
                        <th>Contact Person</th>
                        <td colspan="4">@Model.Contacted_Person</td>
                    </tr>
                    <tr>
                        <th>Contacted Person Mobile number</th>
                        <td colspan="4">@Model.Contacted_Person_Mobile_No</td>
                    </tr>
                    <tr>
                        <th>Emirate</th>
                        <td colspan="4">@Model.Emirate</td>
                    </tr>
                    <tr>
                        <th>Trade License Number</th>
                        <td colspan="4">@Model.Trade_License_Number</td>
                    </tr>
                    <tr>
                        <th>Verifier Name</th>
                        <td colspan="4">@Model.FE_Name</td>
                    </tr>
                    <tr>
                        <th>Validated Office Landline</th>
                        <td colspan="4">@Model.Validated_Office_Landline</td>
                    </tr>
                    <tr>
                        <th>If Yes, validated Landline no</th>
                        <td colspan="4">@Model.Validated_Office_Landline_No</td>
                    </tr>
                    <tr>
                        <th>If Not, Specify Reason</th>
                        <td colspan="4">@Model.Validated_Office_Landline_NotReason</td>
                    </tr>
                    <tr>
                        <th>Source of Validated Number</th>
                        <td colspan="4">@Model.Source_of_Validated_Number</td>
                    </tr>
                    <tr>
                        <th>Office Location Type</th>
                        <td colspan="4">@Model.Office_Location_Type</td>
                    </tr>

                    <tr>
                        <th>
                            Applicants Designation
                        </th>
                        <td colspan="4">@Model.Applicants_Designation</td>
                    </tr>
                    <tr>
                        <th>
                            Date of Joining
                        </th>
                        <td colspan="4">@Model.DoJ_Applicant</td>
                    </tr>
                    <tr>
                        <th>
                            Gross Salary (if employee)
                        </th>
                        <td colspan="4">@Model.Gross_Salary</td>
                    </tr>
                    <tr>
                        <th>
                            Profit % (if owner/partner)
                        </th>
                        <td colspan="4">@Model.Profit</td>
                    </tr>
                    <tr>
                        <th>
                            Accommodation Provided
                        </th>
                        <td colspan="4">@Model.Accommodation_Provided</td>
                    </tr>
                    <tr>
                        <th>
                            Applicant Reports to
                        </th>
                        <td colspan="4">@Model.Applicant_Reports_to</td>
                    </tr>
                    <tr>
                        <th>
                            Whether the applicant is related to the OWNER or AUTHORIZED SIGNATORY: If Yes Relation
                        </th>
                        <td colspan="4">@Model.AUTHORIZED_SIGNATORY</td>
                    </tr>
                    <tr>
                        <th colspan="6" style="font-size: 17px; background-color: #9ea615; text-align: center;">Field Visit Review</th>
                    </tr>
                    <tr>
                        <th>
                            Details Verified With
                        </th>
                        <td colspan="4">@Model.Details_Verified_With</td>
                    </tr>
                    <tr>
                        <th>
                            Designation
                        </th>
                        <td colspan="4">@Model.Designation</td>
                    </tr>

                    <tr>
                        <th>
                            Orginal Seen
                        </th>
                        <td colspan="4">@Model.Orginal_Seen</td>
                    </tr>
                    <tr>
                        <th>
                            Is the tenancy contract/Trade License captured
                        </th>
                        <td colspan="4">@Model.TradeLicense_Displayed</td>
                    </tr>
                    <tr>
                        <th>
                            Business card captured
                        </th>
                        <td colspan="4">@Model.Business_card_captured</td>
                    </tr>
                    <tr>
                        <th>
                            Documents Captured
                        </th>
                        <td colspan="4">@Model.Documents_Captured</td>
                    </tr>
                    <tr>
                        <th>
                            VAT Registration Number
                        </th>
                        <td colspan="4">@Model.VAT_RegNumber</td>
                    </tr>
                    <tr>
                        <th>
                            Makani Number
                        </th>
                        <td colspan="4">@Model.Makani_No</td>
                    </tr>
                    <tr>
                        <th colspan="6" style="font-size: 17px; background-color: #9ea615; text-align: center; ">Neighborhood Check</th>
                    </tr>
                    <tr>
                        <th>
                            Name of the Neighbor 1 and their feedback
                        </th>
                        <td colspan="4">@Model.Name_Neighbor1_feedback</td>
                    </tr>
                    <tr>
                        <th>
                            Name of the Neighbor 2 and their feedback
                        </th>
                        <td colspan="4">@Model.Name_Neighbor2_feedback</td>
                    </tr>
                    <tr>
                        <th colspan="6" style="font-size: 17px; background-color: #9ea615; text-align: center; ">Security Check</th>
                    </tr>
                    <tr>
                        <th>
                            Name of the Security and feedback
                        </th>
                        <td colspan="4">@Model.Name_Security_feedback</td>
                    </tr>

                    <tr>
                        <th colspan="6" style="font-size: 17px; background-color: #9ea615; text-align: center; ">FE's Comments</th>
                    </tr>
                    <tr>
                        <th>FE Decision</th>
                        <td colspan="4">@Model.FE_Decision</td>
                    </tr>
                    <tr>
                        <th>Location Map</th>
                        <td colspan="4">@Model.Latitude,@Model.Longitude</td>
                    </tr>
                    <tr>
                        <th>Feedback</th>
                        <td colspan="4">@Model.Feedback</td>
                    </tr>
                    <tr>
                        <th colspan="6" style="font-size: 17px; background-color: #9ea615; text-align: center; ">Location</th>
                    </tr>
                    <tr>

                        <td colspan="3">
                            <img id="mapImage" style="width: 100%; height: 400px; display: flex; justify-content: center" />

                            @*https://maps.googleapis.com/maps/api/staticmap?center=@Model.Latitude,@Model.Longitude&zoom=20&scale=false&size=900x600&maptype=roadmap&format=png&visual_refresh=true&markers=size:mid|color:red|label:|@Model.Latitude,@Model.Longitude&key=AIzaSyAxcusmWmO3lhnqIPSgeqhcsajy5vODlzU";*@

                            <script>
                                    const imageUrl = "https://maps.googleapis.com/maps/api/staticmap?center=@Model.Latitude,@Model.Longitude&zoom=16&scale=false&size=900x600&maptype=roadmap&format=png&visual_refresh=true&markers=size:mid|color:red|label:|@Model.Latitude,@Model.Longitude&key=AIzaSyAxcusmWmO3lhnqIPSgeqhcsajy5vODlzU";

                                    const imgElement = document.getElementById("mapImage");

                                    // Set the crossOrigin attribute
                                    imgElement.crossOrigin = "Anonymous";

                                    // Load the image
                                    imgElement.src = imageUrl;

                                    // Wait for the image to load and then convert to base64
                                    imgElement.onload = function () {
                                    setTimeout(function () {
                                    convertImageToBase64();
                                    }, 1000); // Adjust the delay as needed
                                    };

                                    function convertImageToBase64() {
                                    const canvas = document.createElement("canvas");
                                    const ctx = canvas.getContext("2d");
                                    canvas.width = imgElement.width;
                                    canvas.height = imgElement.height;
                                    ctx.drawImage(imgElement, 0, 0, imgElement.width, imgElement.height);

                                    // Get base64 data URL
                                    const base64Data = canvas.toDataURL("image/jpeg", 0.8); // Specify the image format and quality
                                    /* console.log("Base64 Image:", base64Data);*/

                                    // Display the compressed image
                                    imgElement.src = base64Data;
                                    }
                            </script>

                        </td>

                    </tr>

                    <tr>
                        <th colspan="6" style="font-size: 17px; background-color: #9ea615; text-align: center; ">Images</th>

                    </tr>

                    @{
                        var images = ViewBag.Images; // Assuming ViewBag.Images is a list of base64 images
                    }

                    @for (int i = 0; i < images.Count; i += 2)
                    {
                        <tr>
                            @for (int j = i + 1; j < i + 4 && j < images.Count; j++)
                            {
                                <td style="text-align: center; vertical-align: top; padding: 0px;">
                                    <img src="data:image/png;base64,@images[j]" alt="Image" style="width: 100%; height: 250px; " />
                                </td>
                            }
                        </tr>
                    }

                    <tr>
                        <th colspan="6" style="font-size: 17px; background-color: #9ea615; text-align: center; ">Signatures</th>
                    </tr>
                    <tr>
                        <td colspan="3" style="text-align: center; vertical-align: top; padding: 10px; border: 1px solid black;">
                            @if (ViewBag.ImageSrcs != null && ViewBag.ImageSrcs.Length > 0)
                            {
                                <div style="display: flex; justify-content: space-around;">
                                    @for (int i = 0; i < ViewBag.ImageSrcs.Length - 1; i++)
                                    {
                                        var imageName = i == 0 ? "Customer Signature" : "Verifier Signature";
                                        var imageSrc = ViewBag.ImageSrcs[i];

                                        <figure style="text-align: center;">
                                            <img src="@imageSrc" alt="@imageName" style="border: none; max-width: 200px; height: auto;" />
                                            <figcaption>@imageName</figcaption>
                                        </figure>
                                    }
                                </div>
                            }
                        </td>
                    </tr>
                </table>
            </div>
        </div>

    </div>

    <script src="/bundles/jquery?v=2u0aRenDpYxArEyILB59ETSCA2cfQkSMlxb6jbMBqf81"></script>

    <script src="/bundles/bootstrap?v=ESck_wvaWCiF5JsitLMh765lhMnw7BVBtZE-YUTa4Ns1"></script>
</body>
</html>


