@model List<CPV_Mark3.Models.AspNetUser>


@{
    Layout = null; // or Layout = "";
}

<!DOCTYPE html>
<html>
<head>
    <title>Add New User</title>

    <style>
        @@import url('https://fonts.googleapis.com/css2?family=Jaldi&display=swap');

        body {
            font-family: sans-serif;
            font-size: 16px; /* Set your desired base font size */
        }

        h1, h2 {
            margin-bottom: 20px;
        }

        .user-form {
            padding: 20px;
            border-radius: 5px;
            width: 100%;
        }

        label {
            display: block;
            margin-bottom: 5px;
        }


        button[type="submit"] {
            background-color: #4CAF50;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        .user-list {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

            .user-list th, .user-list td {
                padding: 10px;
                border: 1px solid #ccc;
                text-align: left;
            }

        .user-form {
            display: flex;
            flex-direction: column;
        }

        .cont {
            display: flex;
            flex-direction: column;
        }

        .userbody-content {
            display: flex;
            flex-direction: row;
        }

        .dis {
            width: max-content;
            height: 100%;
        }


        .view {
            margin-top: 120px;
            background-color: #EAF6F6;
            border-radius: 12px;
            padding: 10px;
            margin-left: 15px;
            margin-right: 15px;
            max-height: 500px;
            overflow: auto;
            width: 600px;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            padding: 8px;
            text-align: left;
        }

        tr:first-child td {
            border-top: none; /* Remove top border for the first row */
        }

        tr:last-child td {
            border-bottom: none; /* Remove bottom border for the last row */
        }

        td:first-child {
            border-left: none; /* Remove left border for the first column */
        }

        td:last-child {
            border-right: none; /* Remove right border for the last column */
        }

        table tr td {
            text-align: center;
            height: 60px;
            font-family: 'Jaldi', sans-serif;
            font-size: 18px;
            font-weight: 500;
            white-space: nowrap;
            color: #3A6C6C;
        }

        .tableHead {
            font-size: 25px;
            font-weight: 700;
            width: max-content;
            white-space: nowrap;
            color: #3A6C6C;
        }




        .btn-two {
            color: #FFF;
            transition: all 0.5s;
            position: relative;
        }

            .btn-two span {
                z-index: 2;
                display: block;
                position: absolute;
                width: 50px;
                height: 50px;
            }

            .btn-two::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 20px;
                height: 5px;
                z-index: 1;
                transition: all 0.5s;
                border: 0px solid rgb(0 0 0);
                background-color: rgba(255,255,255,20);
            }

            .btn-two::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 20px;
                height: 5px;
                z-index: 1;
                transition: all 0.5s;
                border: 0px solid rgb(0 0 0);
                background-color: darkred;
            }

            .btn-two:hover::before {
                transform: rotate(-45deg);
                background-color: darkred;
            }

            .btn-two:hover::after {
                transform: rotate(45deg);
                background-color: darkred;
            }
    </style>

    <script src="/Scripts/jquery-3.4.1.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".deleteBtn").click(function () {
                let data = $(this).data("id");
                let url = '@Url.Action("DeleteUser")';
                let ajaxdata = { id: data };
                //url = url.replace("_id_", data);

                $.ajax({
                    url: url,
                    data: ajaxdata,
                    type: "Post",
                    success: function (result) {
                        location.reload();
                        /* alert("Success");*/
                    },
                    error: function (error) {
                        location.reload();
                    }
                })
            })
        });
    </script>
</head>
<body>
    <div class="userbody-content">
        <div class="cont">
            <div class="dis">
                <div class="view">
                    <table>
                        <tr>
                            <td class="tableHead">Name</td>
                            <td class="tableHead">User Name</td>
                            <td class="tableHead">User Role</td>
                            <td class="tableHead">Delete</td>
                        </tr>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.FullName) </td>
                                <td>@Html.DisplayFor(modelItem => item.UserName) </td>
                                <td>@Html.DisplayFor(modelItem => item.UserRole) </td>
                                
                                <td>
                                    <img src="~/Content/Images/trash.png" style="width: 25px; height: 25px; cursor: pointer;" data-id='@item.Id' class="deleteBtn" />

                                </td>
                            </tr>
                            
                        }
                        
                    </table>
                </div>
            </div>

            @*<table class="user-list">
                <thead>
                    <tr>
                        <th>Full Name</th>
                        <th>User Name</th>
                        <th>User Role</th>
                    </tr>
                </thead>
                @foreach (var item in Model)
                {
                    <tbody>
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.FullName) </td>
                            <td>@Html.DisplayFor(modelItem => item.UserName) </td>
                            <td>@Html.DisplayFor(modelItem => item.UserRole) </td>
                        </tr>
                    </tbody>
                }
            </table>*@
        </div>


    </div>
</body>
</html>

