 @using CPV_Mark3.Models;
@{
    Layout = null;
}


@{
    var images = ViewBag.Images as byte[][];
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SignatureView</title>
    <script src="https://cdn.jsdelivr.net/npm/signature_pad@2.3.2/dist/signature_pad.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script>
        $(document).ready(function () {
            var canvas = document.querySelector('#signature'); //$("#signature").val();
            var pad = new SignaturePad(canvas);

            var canvas2 = document.querySelector('#Vsignature1'); //$("#signature").val();
            var pad2 = new SignaturePad(canvas2);

            var canvas3 = document.querySelector('#Vsignature2'); //$("#signature").val();
            var pad3 = new SignaturePad(canvas3);
        });

        function uploadImage(snr) {

            var formData = new FormData();

            const canvas = document.getElementById("signature");
            const dataURL = canvas.toDataURL();

            const canvas2 = document.getElementById("Vsignature1");
            const dataURL2 = canvas2.toDataURL();

            const canvas3 = document.getElementById("Vsignature2");
            const dataURL3 = canvas3.toDataURL();
            console.log(dataURL);
            console.log(dataURL2);
            console.log(dataURL3);



            formData.append("signatureData", dataURL);
            formData.append("signatureData2", dataURL2);
            formData.append("signatureData3", dataURL3);

            formData.append("snr", snr);


            let url = '@Url.Action("SignatureView", "FE")';


            $.ajax({
                url: url,
                data: formData,
                type: "POST",
                processData: false,
                contentType: false,
                success: function (formData) {
                    let res = dataURL;

                    if (res == 1) {
                        /*alert("Upload Successful!");*/
                    } else {
                        window.location.href = '@Url.Action("PhotoView", "FE")' + '?id=' + @Model.Id;
                       /* location.reload();*/
                    }
                },
                error: function (xhr, status, error) {
                    console.error(" " + dataURL, error);
                }
            });
        }
    </script>

    <style>
        @@import url('https://fonts.googleapis.com/css2?family=Jaldi&display=swap');

        .fe-dash2 {
            position: fixed;
            bottom: 0;
            width: 100%;
            z-index: 3;
            margin-top: auto; /* Push the last div to the bottom */
        }

        .button {
            display: inline-block;
            padding: 10px 20px;
            font-size: 16px;
            text-align: center;
            text-decoration: none;
            background-color: #4CAF50; /* Green background color */
            color: white; /* White text color */
            border: 1px solid #4CAF50; /* Green border */
            border-radius: 4px; /* Rounded corners */
            cursor: pointer;
        }

            .button:hover {
                background-color: white;
                color: #4CAF50;
            }

        body {
            padding: 0px;
        }

        .header {
            font-size: 35px;
            display: flex;
            justify-content: center;
            padding: 20px 0px;
            font-weight: 600;
            color: #236A8B;
            font-family: 'Jaldi', sans-serif;
        }

        .Dashbutton {
            display: flex;
            justify-content: center;
            align-items: center; /* padding: 10px 20px;*/
            font-size: 21px;
            text-align: center;
            text-decoration: none;
            background-color: #236A8B; /* Green background color */
            /* background-image: url(../../Content/Images/dash.png);*/
            color: white; /* White text color */
            border: 1px solid #236A8B; /* Green border */
            border-radius: 4px; /* Rounded corners */
            cursor: pointer;
            width: 100px;
            height: 50px;
            background-size: 30px;
            background-repeat: no-repeat;
            background-position: center;
            color: white;
            font-weight: 600;
        }

        .blue {
            background-color: #EAF6F6;
            border-radius: 12px;
            margin: 5px 10px;
            width: 100%;
            border: 1px solid #569F9F;
        }

        .details-dash {
            height: 60px;
            background-color: #236A8B;
            border-top-left-radius: 12px;
            border-top-right-radius: 12px;
        }

        table {
            color: white;
            font-size: 15px;
            border-collapse: collapse;
            width: 100%;
            height: 100%;
        }


        td, tr {
            border: 1px solid white;
            padding: 8px;
            text-align: left;
            font-weight: 500;
        }

            tr:first-child td {
                border-top: none; /* Remove top border for the first row */
            }

            tr:first-child td {
                border-bottom: none; /* Remove top border for the first row */
            }

            tr:last-child td {
                border-bottom: none; /* Remove bottom border for the last row */
                border-top: none !important;
            }

            td:first-child {
                border-left: none; /* Remove left border for the first column */
                border-top: none !important;
            }

            td:last-child {
                border-right: none; /* Remove right border for the last column */
            }

        table td {
            border: solid 1px white;
            border-bottom: none;
            border-left: none;
            width: max-content;
            padding: 0px 10px;
        }

        .fe-dash2 {
            bottom: 0;
            width: 100%;
            z-index: 3;
            position: sticky;
            margin-top: auto; /* Push the last div to the bottom */
        }

        canvas {
            background-color: white;
            border: 1px solid #569F9F !important;
            border-radius: 8px;
        }

        .h-sign {
            font-size: 25px;
            display: flex;
            justify-content: center;
            padding: 20px 0px;
            font-weight: 600;
            color: #236A8B;
            font-family: 'Jaldi', sans-serif;
        }
    </style>

    <script>
        $(document).ready(function () {
            $('#accepts').submit(function (event) {
                // Prevent the form from submitting in the traditional way
                event.preventDefault();

                // Add a 2-second delay before showing SweetAlert
                setTimeout(function () {
                    // Show the SweetAlert
                    Swal.fire({
                        title: 'Submitted!',
                        text: 'The form has been submitted successfully.',
                        icon: 'success',
                        confirmButtonText: 'OK'
                    });
                }, 2000);

                // Allow the form to submit after the delay
                setTimeout(function () {
                    event.target.submit();
                }, 3000);
            });
        });
    </script>

</head>
<body style="padding: 0px 0px;">
    <div class="fe-dash2">
        @Html.Partial("_MobLayout")
    </div>

    <div style="margin: 5px 10px;">

        <div style="display: flex; flex-direction: row; justify-content: space-between; align-items: center">
            <div class="header">Signature View</div>
            @Html.ActionLink("Go Back", "FEDash", null, new { @class = "Dashbutton" })

        </div>

        <div class="row space blue" style=" margin: auto auto;">
            <div class="details-dash">

                <table>
                    <tr>
                        <td>App #: @Model.Application_no</td>
                        <td>Client: @Model.Client</td>
                    </tr>
                    <tr>
                        <td>Name: @Model.Application_name</td>
                        <td>Product: @Model.Product</td>
                    </tr>
                    <!-- Add more rows or customize as needed -->
                </table>


            </div>
            <div style="display: flex; align-items: center; flex-direction: column;">
                <form method="POST" action="/FE/SignatureView" style="display: flex; flex-direction: column;">

                    <div class="h-sign">Customer Signature</div>
                    <canvas width="225" height="200" id="signature" style="border:1px solid black"></canvas><br>

                    <div class="h-sign">Verifier Signature</div>
                    <canvas width="225" height="200" id="Vsignature1" style="border:1px solid black"></canvas><br>

                    <div class="h-sign">Verifier Signature Confirmation</div>
                    <canvas width="225" height="200" id="Vsignature2" style="border:1px solid black"></canvas><br>

                    <button type="button" id="accept" class="btn btn-primary" style="background-color: #236A8B">
                        <input type="button" id="accepts" style="background-color: #236A8B; font-size: 15px; border:none;" onclick="uploadImage(@ViewBag.snr)" value="Upload" class="btn btn-primary btn-block" />

                        <input type="hidden" id="SignatureDataUrl" name="SignatureDataUrl">
                    </button>
                    @*<img width="500" height="400" id="retrievedSignature" style="border:1px solid black">*@


                    @*@Html.Partial("DisplaySign")*@

                    @*<img width="400" height="400" id="savetarget" style="border:1px solid black" src="@Url.Action("DisplaySign", "FE", new { id = ViewBag.snr })" alt="Retrieved Signature"><br>*@



                    @*<div>
                            @foreach (var base64Image in ViewBag.Images)
                            {
                                <img src="data:image/png;base64,@base64Image" alt="Image" style="width: 100px; height: 100px;" />
                            }
                        </div>*@

                </form>
                <!--<div>
                 -->
                <!-- Replace 123 with the actual Id value -->
                <!--</div>-->
            </div>
        </div>

    </div>
</body>
</html>


