@model CPV_Mark3.Models.CaseTable

@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Final Submit - DDC1</title>
    <script src="/bundles/jquery?v=2u0aRenDpYxArEyILB59ETSCA2cfQkSMlxb6jbMBqf81"></script>

    <script src="/bundles/bootstrap?v=ESck_wvaWCiF5JsitLMh765lhMnw7BVBtZE-YUTa4Ns1"></script>

    @*<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Roboto:300,400,500,700" />
        <link href="https://fonts.googleapis.com/css?family=Philosopher" rel="stylesheet" />*@

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script> 

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>

    <link href="/Content/css?v=33TLKQioqhn1ElQO6aBqikpQhCQLzzH07Rj-bJK3Emw1" rel="stylesheet" />

    <script src="/bundles/modernizr?v=inCVuEFe6J4Q07A0AcRsbJic_UE5MwpRMNGcOtk94TE1"></script>
    <style>
        .fe-dash2 {
            position: fixed;
            bottom: 0;
            width: 100%;
            z-index: 3;
            margin-top: auto; /* Push the last div to the bottom */
        }

        .button {
            display: inline-block;
            padding: 10px 20px;
            font-size: 16px;
            text-align: center;
            text-decoration: none;
            background-color: #4CAF50; /* Green background color */
            color: white; /* White text color */
            border: 1px solid #4CAF50; /* Green border */
            border-radius: 4px; /* Rounded corners */
            cursor: pointer;
        }

            .button:hover {
                background-color: white;
                color: #4CAF50;
            }

        body {
            padding: 0px;
        }

        .header {
            font-size: 35px;
            display: flex;
            justify-content: center;
            padding: 20px 0px;
            font-weight: 600;
            color: #236A8B;
            font-family: 'Jaldi', sans-serif;
        }

        .Dashbutton {
            display: inline-block;
            /* padding: 10px 20px;*/
            font-size: 16px;
            text-align: center;
            text-decoration: none;
            background-color: #236A8B; /* Green background color */
            background-image: url(../../Content/Images/dash.png);
            color: white; /* White text color */
            border-radius: 4px; /* Rounded corners */
            cursor: pointer;
            width: 50px;
            height: 50px;
            background-size: 30px;
            background-repeat: no-repeat;
            background-position: center;
        }

        .blue {
            background-color: #EAF6F6;
            border-radius: 12px;
            margin: 5px 10px;
            width: 100%;
            border: 1px solid #569F9F;
        }

        .details-dash {
            height: 60px;
            background-color: #236A8B;
            border-top-left-radius: 12px;
            border-top-right-radius: 12px;
        }

        table {
            color: white;
            font-size: 15px;
            border-collapse: collapse;
            width: 100%;
            height: 100%;
        }


        td, tr {
            border: 1px solid white;
            padding: 8px;
            text-align: left;
            font-weight: 500;
        }

            tr:first-child td {
                border-top: none; /* Remove top border for the first row */
            }

            tr:first-child td {
                border-bottom: none; /* Remove top border for the first row */
            }

            tr:last-child td {
                border-bottom: none; /* Remove bottom border for the last row */
                border-top: none !important;
            }

            td:first-child {
                border-left: none; /* Remove left border for the first column */
                border-top: none !important;
            }

            td:last-child {
                border-right: none; /* Remove right border for the last column */
            }

        table td {
            border: solid 1px white;
            border-bottom: none;
            border-left: none;
            width: max-content;
            padding: 0px 10px;
        }

        .fe-dash2 {
            bottom: 0;
            width: 100%;
            z-index: 3;
            position: sticky;
            margin-top: auto; /* Push the last div to the bottom */
        }


        .button {
            display: inline-block;
            padding: 10px 20px;
            font-size: 16px;
            text-align: center;
            text-decoration: none;
            background-color: #4CAF50; /* Green background color */
            color: white; /* White text color */
            border-radius: 4px; /* Rounded corners */
            cursor: pointer;
        }

            .button:hover {
                background-color: white;
                color: #4CAF50;
            }

        body {
            padding: 0px;
        }

        .box {
            background-color: white;
            border-radius: 12px !important;
            border-style: none;
            width: 200px;
            height: 25px;
            margin-top: 7px;
            margin-bottom: 10px;
            font-weight: 500;
            font-size: 12px !important;
            border: 1px groove #569F9F;
        }

        .head {
            font-size: 15px;
            font-weight: 700;
            width: max-content;
            white-space: nowrap;
            color: #3A6C6C;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
    <script type="text/javascript">
        if ('' == "Success") {
            swal("Success!", '', "success");
        }
        if ('' == "Fail") {
            swal("Oops", '', "error")
        }
    </script>

    <script>
        $(document).ready(function () {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition);
            } else {
                x.innerHTML = "Geolocation is not supported by this browser.";
            }
        })
       

        function showPosition(position) {
           
            
           // document.getElementById('Latitude').value = 23; // position.coords.latitude;
            //document.getElementById('Longitude').value = 55; //position.coords.longitude
            $("#Latitude").val(position.coords.latitude);
            $("#Longitude").val(position.coords.longitude);
        }
    </script>
</head>
<body style="padding: 0px;">

    <div class="fe-dash2">
        @Html.Partial("_MobLayout")
    </div>

    <div style="margin: 5px 10px;">

        <div style="display: flex; flex-direction: row; justify-content: space-between; align-items: center">
            <div class="header">Final Submit</div>
            @Html.ActionLink(" ", "FEDash", null, new { @class = "Dashbutton" })

        </div>

        <div class="row space blue" style=" margin: auto auto;">
            <div class="details-dash">

                <table>
                    <tr>
                        <td>App #: @Model.Application_no</td>
                        <td>Client: @Model.Client</td>
                    </tr>
                    <tr>
                        <td>Name: @Model.Application_name</td>
                        <td>Product: @Model.Product</td>
                    </tr>
                </table>


            </div>
            @using (Html.BeginForm())
            {
                <div class="container" id="divapplicant">
                    <div class="row">
                        <form action="/FE/fieldShortALFinalsubmit" data-ajax="true" data-ajax-loading="#divLoading" data-ajax-method="POST" data-ajax-mode="replace" data-ajax-update="#divapplicant" id="form0" method="post">
                            <div style="display: flex; flex-direction: column;  justify-content: center; align-items: center;">
                                <div class="head">
                                    Latitude
                                </div>
                                @Html.HiddenFor(model => model.Id@*, new { htmlAttributes = new { @id = "snr" } }*@)
                                @Html.EditorFor(model => model.Latitude, new { htmlAttributes = new { @class = "box"} })
                                <div class="head">
                                    Longitude
                                </div>
                                @Html.EditorFor(model => model.Longitude, new { htmlAttributes = new { @class = "box"} })
                            </div>
                            

                            <div style="display: flex; flex-direction: column;  justify-content: center; align-items: center; padding: 25px 0px;">
                                <input type="submit" value="Submit" style="background-color: #236A8B; width: 100%; height: 35px; color: white; border-radius: 12px; font-size: 18px;" />
                            </div>
                        </form>
                    </div>
                </div>
            }
        </div>

    </div>

</body>
</html>
